<div class="container">
  <div class="headerTitle">
    <h1>Cook's Hookers</h1>
  </div>
  <div class="headerNav">
    <nav>
      <a routerLink="/about" routerLinkActive="active">Mon profil</a>
      <a routerLink="/about" routerLinkActive="active">Toutes les recettes</a>
      <select name="recipe">
        <option value="recette">Recette</option>
        <option value="starter">Entrées</option>
        <option value="side">Side</option>
        <option value="desserts">Desserts</option>
        <option value="autres">Autres</option>
      </select>
      <a routerLink="/about" routerLinkActive="active">S'incrire</a>
      <a routerLink="/about" routerLinkActive="active">Se connecter</a>
    </nav>
  </div>
</div>
