<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <form class="d-flex form-inline" role="search">
                <input class="form-control rounded-pill bg-light-purple" type="text"
                    placeholder="Recherchez une recette (mots-clés, nom d’une recette, avec une lettre)"
                    aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-text-black btn-block rounded-pill my-2 my-sm-0 background-color"
                        type="submit">Rechercher</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-3" *ngIf="selectedCategory">
        <h2>{{ selectedCategory }} :</h2>
        <ul class="list-inline ">
            <li class="text-overflow" *ngFor="let recipe of recipes">{{ recipe }}</li>
        </ul>
    </div>
</div>