<app-header></app-header>
<input id="searchbar" onkeyup="search_animal()" type="text" name="search" placeholder="Search animals..">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="titre">
                <h1>Titre de la recette</h1>
            </div>


            <div class="image-video">
                <img src="../../assets/image/animals" alt="">
                <video src="" controls></video>
            </div>
            <div class="ingredients">
                <h2>Ingrédients</h2>
                <ul>
                    <li>Ingrédient 1</li>
                    <li>Ingrédient 2</li>
                    <li>Ingrédient 3</li>
                </ul>
            </div>
            <div class="description">
                <h2>Description</h2>
                <p>desciption de la recette ...</p>
            </div>
        </div>
    </div>
</div>