<div class="container">
  <h1>Recherche de recettes</h1>

  <div class="row mb-4">
      <div class="col-md-12">
  <form class="d-flex form-inline" role="search">
      <input class="form-control rounded-pill bg-light-purple" type="text" placeholder="Recherchez une recette (mots-clés, nom d’une recette, avec une lettre)" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-text-black btn-block rounded-pill my-2 my-sm-0" style="background-color:#AB7040" type="submit">Rechercher</button>
      </div>
    </form>
      </div>
  </div>
    <div class="row">
      <div class="col-md-3">
    <button type="button" class="btn btn-text-black btn-block" style="background-color:#AB7040" (click)="showRecipes('Entree')">Entrée</button>
      </div>
      <div class="col-md-3">
    <button type="button" class="btn btn-text-black btn-block" style="background-color:#AB7040" (click)="showRecipes('Side')">Plat principal</button>
      </div>
      <div class="col-md-3">
    <button type="button" class="btn btn-text-black btn-block" style="background-color:#AB7040" (click)="showRecipes('Dessert')">Dessert</button>
    </div>
    <div class="col-md-3">
    <button type="button" class="btn btn-text-black btn-block" style="background-color:#AB7040" (click)="showRecipes('Autres')">Autres</button>
  
  </div>
    </div>

  <div class="mt-3" *ngIf="selectedCategory">
    <h2>{{ selectedCategory }} :</h2>
    <ul class="list-inline ">
      <li class="text-overflow" *ngFor="let recipe of recipes">{{ recipe }}</li>
    </ul>
  </div>
</div>