<header>
    <h1>Page de présentation</h1>
</header>
<div class="carousel">
    <div class="carousel-container">
        <span class="prev">&lt;</span>
        <ng-container *ngFor="let category of categories?.slice(0, 3)">
            <img [src]="category?.strCategoryThumb" [alt]="category?.strCategory" [routerLink]="['/detail', category?.idCategory]">
        </ng-container>
        <h2>Entrée</h2>
        <span class="next">&gt;</span>
    </div>
</div>

<div class="carousel">
    <div class="carousel-container">
        <span class="prev">&lt;</span>
        <ng-container *ngFor="let category of categories?.slice()">
            <img [src]="category?.strCategoryThumb" [alt]="category?.strCategory" [routerLink]="['/detail', category?.idCategory]">
        </ng-container>
        <h2>Plat</h2>
        <span class="next">&gt;</span>
    </div>
</div>

<div class="carousel">
    <div class="carousel-container">
        <span class="prev">&lt;</span>
        <ng-container *ngFor="let category of categories?.slice()">
            <img [src]="category?.strCategoryThumb" [alt]="category?.strCategory" [routerLink]="['/detail', category?.idCategory]">
        </ng-container>
        <h2>Dessert</h2>
        <span class="next">&gt;</span>
    </div>
</div>