<nav id="navbar">
    <ul>
        <li class="item"><a href="#Entrees">Entrees</a></li>
        <li class="item"><a href="#sides">sides</a></li>
        <li class="item"><a href="#desserts">desserts</a></li>
        <li class="item"><a href="#autres">autres</a></li>
    </ul>
</nav>
<div class="header-text">
    <h1 class="h-primary center">Find your recipe from the cookHookers kitchen</h1>
</div>
<section id="Entrees">
    <h1 class="h-primary center">Entrees</h1>
    <div id="Entrees">
        <div class="box">
            <img src="../../assets/Entree/egg1.jpeg" alt="">
            <h4 class="h-secondary center">EGG</h4>
        </div>
        <div class="box">
            <img src="../../assets/Entree/egg2.jpeg" alt="">
            <h2 class="h-secondary center">EGG2</h2>
        </div>
        <div class="box">
            <img src="../../assets/Entree/Olive-Tapenade.png" alt="">
            <h2 class="h-secondary center">Olive</h2>
        </div>

        <div class="box">
            <img src="../../assets/Entree/ratatouille.jpeg" alt="">
            <h2 class="h-secondary center">ratatouille</h2>
        </div>
        <div class="box">
            <img src="../../assets/Entree/Snippets of Paris.jpeg" alt="">
            <h2 class="h-secondary center">Snippets</h2>
        </div>
        <div class="box">
            <img src="../../assets/Entree/images.jpeg" alt="">
            <h2 class="h-secondary center">Poulet</h2>
        </div>
    </div>
</section>
<section id="sides">
    <h1 class="h-primary center">sides</h1>
    <div id="sides">
        <div class="box">
            <img src="../../assets/Sides/maincourse/beef.jpeg" alt="">
            <h4 class="h-secondary center">beef</h4>
        </div>
        <div class="box">
            <img src="../../assets/Sides/maincourse/Chees.jpeg" alt="">
            <h2 class="h-secondary center">Chees</h2>
        </div>
        <div class="box">
            <img src="../../assets/Sides/maincourse/Cravettes.jpeg" alt="">
            <h2 class="h-secondary center">Cravettes</h2>
        </div>

        <div class="box">
            <img src="../../assets/Sides/maincourse/images.jpeg" alt="">
            <h2 class="h-secondary center">ratatouille</h2>
        </div>
        <div class="box">
            <img src="../../assets/Sides/maincourse/salmon-518032_960_720.jpeg" alt="">
            <h2 class="h-secondary center">salmon</h2>
        </div>
        <div class="box">
            <img src="../../assets/Sides/maincourse/PorkCurry.jpeg" alt="">
            <h2 class="h-secondary center">PorkCurry</h2>
        </div>

    </div>
</section>
<section id="desserts">
    <h1 class="h-primary center">desserts</h1>
    <div id="desserts">
        <div class="box">
            <img src="../../assets/Desserts/deserts/pearl milk tea.png" alt="">
            <h4 class="h-secondary center">pearl milk tea</h4>
        </div>
        <div class="box">
            <img src="../../assets/Desserts/deserts/Cheese cake.webp" alt="">
            <h2 class="h-secondary center">Cheese cake</h2>
        </div>
        <div class="box">
            <img src="../../assets/Desserts/deserts/Caramel.jpeg" alt="">
            <h2 class="h-secondary center">Caramel</h2>
        </div>

        <div class="box">
            <img src="../../assets/Desserts/deserts/mini macarons.jpeg" alt="">
            <h2 class="h-secondary center">mini macarons</h2>
        </div>
        <div class="box">
            <img src="../../assets/Desserts/deserts/cupcake.jpeg" alt="">
            <h2 class="h-secondary center">cupcake</h2>
        </div>
        <div class="box">
            <img src="../../assets/Desserts/deserts/Donut.png" alt="">
            <h2 class="h-secondary center">Donut</h2>
        </div>

    </div>
</section>