#presentation {
    width: 100%;
    height: 130vh;
    background-image: url('../../assets/image/presentation.jpg');
    position: absolute;
    background-size: cover;
}

button {
    position: absolute;
    width: 360px;
    height: 58px;
    left: 80vh;
    top: 100vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 39px;
    line-height: 58px;
    /* identical to box height */
    text-align: center;
    text-decoration-line: underline;
    color: #EB7508;
}

#presentation h1 {
    text-align: center;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: white;
}